.signup {
  background: #1A2038;

  .signup-card {
    max-width: 1000px;
    border-radius: 12px !important;
    img {
      width: 200px;
    }
  }
  .back-to-signin {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  @media screen and (min-width: 1000px) {
    height: 100%;
  }
  .postion-abs {
    position: absolute;
  }
  .bottom-65{
    bottom: 65%;
  }
  .top-55 {
    top: 55px;
  }
  .pdingtop-85 {
    padding-top: 85px;
  }

}
